html {
    font-size: 14px;
    background-color: #f5ece7;
}

body {
    margin: 0; /* [Warnning] without this the 'height: 100vh;' will result in scroll bar . */

    overflow: hidden; /* 隐藏自定义弹出窗口的滚动条 */
}

.main {
    /* display: none; */
    position: absolute;
    width: 100%;

    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    vertical-align: middle;
    border-radius: 5px;

    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.main--faded *{
    opacity: 0.6;
}

.stateBar {
    border-style: solid;
    border-radius: inherit;
    border-width: medium;
    border-color: #bcbfbe;
    width: 26.5rem;
    color: #424242;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.stateBar label {
    margin-left: 0.3rem;
}

.blockBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-radius: 0.3rem;
    border-width: medium;
    border-color: #84796e;
    width: 26.5rem;
    height: 26.5rem;

    font-size: 32px;
    font-weight: 700;
    color: #424242; 
    font-family: sans-serif;
    text-align: center;
    line-height: 250%;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    border-radius: inherit;
    width: 370px;
    height: 50px;
}

button {
    margin: 0.8rem;
    border-radius: 10%;
    background-color: rgba(168, 165, 164, 0.473);
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    line-height: 1.8rem;
}

.scoreBar {
    color: #ff6359;
    width: 277px;
    float: right;
    margin-right: 0;
    line-height: 200%;
}

.block {
    width: 6rem;
    height: 6rem;
    float: left;
    background-color: rgba(200, 200, 200, 0.3);
    margin: 0.3rem;
    float: left; /*<------------实现水平排列效果*/
    box-sizing: border-box;
    border-radius: inherit; /* inherit the parent , to be more maintainable */

    opacity: 1;
    transition-property:  opacity;
    transition-timing-function: cubic-bezier(0, 1.65, 0.58, 1);
    transition-duration: 0.2s;
}

.blockBar {
    width: 1em;
    height: 1em;
}
/* change float left !!! */

.block--show {
    visibility: visible;
}

.block--hide {
    /* visibility: hidden; */
    background-color: rgba(200, 200, 200, 0.3);
}

.block--new {
    opacity: 0;
}

.block--default {
    background-color: #f5ece7;
}

.block--2 {
    
    background-color: #D9D0C5;
    
}

.block--4 {
    background-color: #D9CBB3; 
}

.block--8 {
    background-color: #E09D65;
}

.block--16 {
    background-color: #E09D65;
}

.block--32 {
    background-color: #E46B4B;
}

.block--64 {
    background-color: #F85228;
}

.block--128 {
    background-color: #dad189;
}

.block--256 {
    background-color: #d9cf77;
}

.block--512 {
    background-color: #dbcd54;
}

.block--1024 {
    background-color: #df9e05;
}

.block--2048 {
    background-color: #da7303;
}

.block--4096 {
    background-color: #da5003;
}

.block--8192 {
    background-color: #da2803;
}

.dialogWindow {
    position: absolute;
    width: 100%;

    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    vertical-align: middle;

    margin-top: 0;
    transition-property: margin;
    transition-duration: 0.4s;
    /* transition-timing-function: ease-in-out; */
    transition-timing-function:  cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-delay: 0.1s;
    
    /* background-color: #054eb763; */
    background-color: rgba(0,75,215,0.6);
}

.dialogWindow--hide {
    margin-top: -100vh;
}

.helpWindow, .gameOverWindow, .winWindow {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 25rem;
    
    
    border: rgb(56, 13, 230) 5px solid;
    border-radius: 5%;
    /* box-shadow:  */
    background-color: whitesmoke;
}

.helpWindow--hide {
    display: none;
}

.dialogWindow h2 {
    margin-bottom: -0.5rem;
}

.dialogWindow button {
    font-size: 2rem;
    width: 10rem;
    height: 4rem;
    border-radius: 10%;
    margin-top: -0.5rem;
}

.continueButton--hide {
    display: none;
}

.startButton--hide {
    display: none;
}

.gameOverWindow--hide {
    display: none;
}

.winWindow--hide {
    display: none;
}