html {
    font-size: 14px;
    background-color: #f5ece7;
}

body {
    margin: 0; /* [Warnning] without this the 'hetht: 100vh;' will result in scroll bar . */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    vertical-align: middle;
    border-radius: 5px;
}

.stateBar {
    border-style: solid;
    border-radius: inherit;
    border-width: medium;
    border-color: #bcbfbe;
    width: 26.5rem;
    color: #424242;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.blockBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-radius: 0.3rem;
    border-width: medium;
    border-color: #84796e;
    width: 26.5rem;
    height: 26.5rem;

    font-size: 32px;
    font-weight: 900;
    color: #424242; 
    font-family: sans-serif;
    text-align: center;
    line-height: 250%;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    border-radius: inherit;
    width: 370px;
    height: 50px;
}

button {
    margin: 0.8rem;
    border-radius: inherit;
}

.scoreBar {
    color: #ff6359;
    width: 277px;
    float: right;
    margin-right: 0;
    line-height: 200%;
}

.block {
    width: 6rem;
    height: 6rem;
    float: left;
    background-color: lightgreen;
    margin: 0.3rem;
    float: left; /*<------------实现水平排列效果*/
    box-sizing: border-box;
    border-radius: inherit; /* inherit the parent , to be more maintainable */
}

.blockBar {
    width: 1em;
    height: 1em;
}
/* change float left !!! */

.block--show {
    visibility: visible;
}

.block--hide {
    visibility: hidden;
}

.block--default {
    background-color: #f5ece7;
}

.block--2 {
    background-color: #D9D0C5;
}

.block--4 {
    background-color: #D9CBB3; 
}

.block--8 {
    background-color: #E09D65;
}

.block--16 {
    background-color: #E09D65;
}

.block--32 {
    background-color: #E46B4B;
}

.block--64 {
    background-color: #F85228;
}

.block--128 {
    background-color: #dad189;
}

.block--256 {
    background-color: #d9cf77;
}

.block--512 {
    background-color: #dbcd54;
}

.block--1024 {
    background-color: #df9e05;
}

.block--2048 {
    background-color: #da7303;
}